@CHARSET "UTF-8";

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
    border-radius: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #000ea3;
    color:white;
    
}

.active {
    background-color: #000ea3;
    color:white;
}

div {
	margin: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
}


